.checkbox{
    display: inline-block;
}

.card{
    background-color: #CCF5D3;
}

.editBtn{
    background-color: rgb(128, 190, 128);
    color: white;
    border: none;
    border-radius: 10px;
    margin-right: 1em;
    margin-top: 1em;
    height: fit-content;
    width: fit-content;
    padding: 0.5em 1em;
}

.deleteBtn{
    background-color: rgb(164, 46, 46);
    color: white;
    border: none;
    border-radius: 10px;
    margin-right: 1em;
    margin-top: 1em;
    height: fit-content;
    width: fit-content;
    padding: 0.5em 1em;
}